---
import Layout from "../../layouts/Layout.astro";
import { getLatestLaunches, getLaunchBy } from "../../services/spacex";

const { id } = Astro.params;
let launch;

if (id) {
  launch = await getLaunchBy({ id });
}

export async function getStaticPaths() {
  const launches = await getLatestLaunches();
  return launches.map((launch) => ({
    params: { id: launch.id },
  }));
}
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="flex gap-y-4 flex-col text-center">
    <img
      class="w-52 h-auto m-auto"
      src={launch?.image}
      alt={`Lanzamiento ${launch?.id}`}
    />
    <h2 class="text-4xl text-white font-bold">
      Launch #{launch?.flight_number}
    </h2>
    <p class="text-lg">
      {launch?.content}
    </p>
    {launch?.id}
  </article>
</Layout>
