---
import Layout from "../../layouts/Layout.astro";
import { getLatestLaunches, getLaunchBy } from "../../services/spacex";
import { Image } from "astro:assets";
const { id } = Astro.params;
let launch;

if (id) {
  launch = await getLaunchBy({ id });
}

export async function getStaticPaths() {
  const launches = await getLatestLaunches();
  return launches.map((launch) => ({
    params: { id: launch.id },
  }));
}
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="flex gap-y-4 flex-col text-center">
    <Image
      width="300"
      height="300"
      style={`view-transition-name: launch-${launch.id}`}
      class="w-52 h-auto m-auto"
      src={launch?.image}
      alt={`Lanzamiento ${launch?.id}`}
    />
    <h2 class="text-4xl text-white font-bold flex justify-center items-center">
      Flight #{launch?.flight_number}
      <span
        transition:name={`launch-status-${id}`}
        class:list={[
          "text-xs font-semibold mx-2 px-2.5 py-0.5 rounded",
          {
            "bg-green-300 text-green-900": launch.success,
            "bg-red-400 text-black": !launch.success,
          },
        ]}>{launch.success ? "Success" : "Failure"}</span
      >
    </h2>
    <p class="text-lg mx-4 text-center">
      {launch?.content}
    </p>
    {launch?.id}
  </article>
</Layout>
